@import "App";

@media screen and (max-width: 1200px) {
  .header {
    padding: 0 60px;

    .header-menu {
      display: none;
    }
    .header-menu-burger {
      display: block;
      position: relative;
    }
    .header-menu-modal {
      height: 100vh;
      position: fixed;
      display: flex;
      top: 0;
      left: 0;
      align-items: center;
      z-index: 500;
      padding: 40px;
      background: $hl-color;

      &__close {
        position: absolute;
        top: 27px;
        left: 65px;

        &:hover {
          fill: $hover-color;
        }
      }

      .header-menu__list {
        @include flex-colomn;
        li {
          margin: 0 0 20px 0;

          .header-menu__link {
            &:hover {
              color: $hover-color;
              &::before,
              &::after {
                background-color: $hover-color;
              }
            }
          }
        }
      }
    }
    .header-icons {
      .header-cart {
        &__quantity {
          right: 100px;
        }
      }
    }
  }

  .home {
    .home-container {
      left: 60px;
      width: 560px;

      &__title {
        font-size: 58px;
        margin-bottom: 25px;
      }
      &__subtitle {
        font-size: 36px;
        margin-bottom: 25px;
      }
    }

    .home-carousel__slide_two {
      background-position: 70% 10%;
    }
  }

  .menu {
    .dishes {
      .dish {
        width: 260px;
        height: 270px;
        margin: 0 15px 15px 0;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .header-icons {
    .header-cart {
      .header-cart__quantity {
        right: 105px;
      }
    }
  }

  .home {
    .home-container {
      width: 480px;

      &__title {
        font-size: 50px;
        margin-bottom: 20px;
      }

      &__subtitle {
        font-size: 28px;
      }
    }
  }

  .about {
    .about-photos {
      &__img {
        width: 300px;
      }
    }
    &__quote {
      font-size: 24px;
    }
  }

  .menu {
    .menu__filter {
      margin-bottom: 30px;
    }
    .dishes {
      .dish {
        width: 250px;
        height: 260px;
        margin: 0 10px 10px 0;

        &__image {
          height: 170px;
        }

        .dish-info {
          &__btn {
            width: 123px;
            height: 35px;
          }

          &__btn_selected {
            right: 12px;
          }
        }
      }
    }
  }

  .book-table {
    &__form {
      width: 60%;
    }
  }

  .contact-us {
    &__content {
      .feedback {
        width: 60%;
        & > .form-group {
          width: 100%;
        }
      }
    }
  }

  .orders-history {
    &__list {
      width: 90%;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0 20px;

    .header-logo {
      h1 {
        font-size: 32px;
      }
    }

    .header-icons {
      .header-cart {
        &__quantity {
          right: 65px;
        }
      }
    }

    .header-menu-modal {
      &__close {
        left: 25px;
      }
    }
  }

  .home {
    .home-container {
      left: 20px;
      width: 400px;

      &__title {
        font-size: 40px;
      }
      &__subtitle {
        font-size: 20px;
      }
    }
  }

  .menu {
    &__filter,
    .dishes {
      justify-content: center;
    }
  }

  .checkout {
    .checkout-form-top {
      flex-direction: column;
      width: 100%;
      margin: 0 auto;
      & > div {
        width: 80%;
        margin: 0 auto;
      }
    }
    .checkout-form-bottom {
      flex-direction: column;
      width: 80%;
      margin: 0 auto;
      & > .form-group,
      & > div {
        width: 100%;
      }
    }
    .checkout-form-checkbox {
      width: 80%;
      margin: 0 auto;
    }

    .checkout-btn {
      display: block;
      margin: 0 auto;
    }
  }

  .book-table {
    &__form {
      width: 80%;
    }
  }

  .contact-us {
    &__content {
      flex-direction: column-reverse;
      width: 100%;
      .feedback {
        width: 100%;
        margin-bottom: 40px;
        & > .form-group {
          width: 100%;
        }

        &__btn {
          display: block;
          margin: 0 auto;
        }
      }

      .contacts {
        width: 100%;
      }
    }
  }

  .orders-history {
    &__list {
      width: 100%;
    }
    .history-item {
      padding: 10px;
    }
  }
}

@media screen and (max-width: 575px) {
  .header {
    padding: 0 10px;

    svg {
      width: 24px;
      height: 24px;
    }

    .header-logo {
      h1 {
        padding: 0 5px;
        font-size: 20px;
      }
    }

    .header-icons {
      div:not(:last-child) {
        margin-right: 8px;
      }
      .header-cart {
        .header-cart__quantity {
          top: 20px;
          right: 35px;
          padding: 2px 6px;
          font-size: 10px;
        }
      }
    }

    .header-menu-modal {
      .header-menu__link {
        font-size: 14px;
      }
      .header-menu-modal__close {
        left: 14px;
        width: 16px;
      }
    }
  }

  .home {
    .home-container {
      left: 0;
      width: 100%;
      text-align: center;
      padding: 10px;
      &__title {
        font-size: 34px;
      }
      &__subtitle {
        font-size: 18px;
      }
    }
  }

  .about {
    .about-photos {
      width: 100%;
      @include flex-colomn;

      &__img {
        width: 100%;
        margin: 0 0 10px 0;
      }
    }

    &__quote {
      font-size: 20px;
    }
  }

  .menu {
    .menu__filter {
      .filter__item {
        font-size: 16px;
        margin: 0 10px 10px 0;
      }
    }

    .dishes {
      @include flex-colomn;
      .dish {
        width: 260px;
        height: 270px;
        margin: 0 0 10px 0;

        &__image {
          height: 180px;
        }

        .dish-info {
          &__price {
            font-size: 18px;
          }
        }
      }
    }
  }

  .cart {
    .cart__list {
      @include flex-colomn;
      .cart-item {
        margin: 0 0 10px 0;
        width: 260px;
        height: 270px;

        .cart-item__image {
          height: 180px;
        }
      }
    }
  }

  .book-table {
    &__form {
      width: 90%;
    }
  }
  .contact-us {
    padding: 20px;
  }

  .orders-history {
    &__list {
      .history-item {
        flex-direction: column;
        &__dishes,
        &__date {
          margin: 0;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
